
#h2-404 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px;
}

#img-404 {
    width: 35%;
}

#flex-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1024px) {
    #img-404 {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    #img-404 {
        width: 70%;
        }
    #h2-404{        
        font-size: 16px;        
    }
}